<!--<div class="user-container">-->
<!--  <h2>Recuperar Senha</h2>-->

<!--  <form [formGroup]="form" (ngSubmit)="enviar()">-->
<!--    <div class="input-wrapper">-->
<!--      <label for="email">Email</label>-->
<!--      <input id="email" type="email" formControlName="email" class="form-input" />-->
<!--    </div>-->

<!--    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">-->
<!--      Informe um email válido.-->
<!--    </div>-->

<!--    <div class="btn-group">-->
<!--      <button type="submit" class="btn salvar" [disabled]="form.invalid">Enviar</button>-->
<!--      <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<app-default-login-layout
  title="Recuperar Senha"
  [primaryBtnText]="'Enviar'"
  secundaryBtnText="Voltar"
  [disablePrimaryBtn]="form.invalid"
  (submit)="enviar()"
  (navigate)="voltar()"
>
  <form [formGroup]="form">
    <div class="input-wrapper">
      <label for="email">Email</label>
      <div class="select-wrapper">
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Digite seu email cadastrado"
        />
        <div class="right-group">
          <img src="/assets/svg/email-icon.svg" alt="Ícone Email" class="right-icon" />
        </div>
      </div>
    </div>

    <p class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Informe um email válido.
    </p>
  </form>
</app-default-login-layout>
