<app-navbar></app-navbar>

<div class="user-container">
  <h2>Editar dados da conta</h2>
  <form [formGroup]="form" (ngSubmit)="atualizar()">
    <input type="text" placeholder="Nome da Instituição" formControlName="nomeInstituicao" class="form-input" />
    <input type="email" placeholder="Email" formControlName="email" class="form-input" />
    <input type="text" placeholder="CNPJ" formControlName="cnpj" class="form-input" />
    <input type="text" placeholder="Telefone" formControlName="telefone" class="form-input" />
    <input type="text" placeholder="Endereço" formControlName="endereco" class="form-input" />
    <select formControlName="categoria" class="form-input" [disabled]="true">
    <option [value]="form.get('categoria')?.value">{{ form.get('categoria')?.value }}</option>
    </select>

    <div class="btn-group">
      <button type="submit" class="btn salvar">Salvar alterações</button>
      <button type="button" class="btn excluir" (click)="excluir()">Excluir conta</button>
    </div>
  </form>
</div>
