.erro-container {
  text-align: center;
  padding: 60px 20px;
}

.erro-container h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #049DD9;
}

.erro-container p {
  font-size: 20px;
  margin-bottom: 20px;
}

.erro-container a {
  text-decoration: none;
  color: white;
  background-color: #049DD9;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}
