main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
}

.main-section {
  flex: 1;
  background-color: #FED501;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  img {
    max-width: 280px;
    width: 100%;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
  }
}

.form-wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn-wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;


  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    div {
      flex-grow: 1;
      height: 2px;
      background-color: black;
    }
  }

  button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    transition: 0.3s;

    &.btn-primary {
      background-color: #F24182;
      color: white;
      box-shadow: 0px 8px 12px rgba(148, 64, 255, 0.2);
    }

    &.btn-secondary {
      border: 1px solid #049DD9;
      color: #049DD9;
      background: transparent;
    }

    &:disabled {
      opacity: 0.8;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.01);
    }
  }
}
