<main>
  <section class="main-section">
    <img src="assets/svg/maoslogin.svg">
  </section>

  <section class="form-section">
    <img src="assets/svg/DoeCerto-text.svg">

    <h2>{{ title }}</h2>

    <div class="form-wrapper">
      <ng-content></ng-content>
    </div>

    <div class="btn-wrapper">
      <div class="divider">
        <div></div>
        <span style="color: black">ou</span>
        <div></div>
      </div>

      <button type="button"
              class="btn-secondary"
              (click)="navigate()">
        {{ secundaryBtnText }}
      </button>
    </div>
  </section>
</main>
