<app-default-login-layout
  title="Acessar sua conta"
  secundaryBtnText="Criar conta"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="Digite seu email aqui"
    >
      <img src="/assets/svg/email-icon.svg">
    </app-primary-input>

    <app-primary-input
      formControlName="senha"
      inputName="senha"
      type="password"
      label="Senha"
      placeholder="Digite sua senha aqui"
    >
      <img src="/assets/svg/senha-icon.svg">
    </app-primary-input>

    <a [routerLink]="['/recuperar-senha']" style="color: #049DD9; text-decoration: underline; cursor: pointer;">
      Esqueceu sua senha?
    </a>


    <button type="submit" class="btn-primary" [disabled]="!loginForm.valid">
      Entrar
    </button>
  </form>
</app-default-login-layout>
