<app-default-login-layout
  title="Cadastre-se"
  [primaryBtnText]="primaryText"
  secundaryBtnText="Entrar"
  [disablePrimaryBtn]="disableBtn"
  (navigate)="navigate()"
>
  <form [formGroup]="cadastroForm" (ngSubmit)="submit()">

    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
      Insira um email válido.
    </p>

    <app-primary-input
      formControlName="cnpj"
      inputName="cnpj"
      type="text"
      label="CNPJ"
    >
      <img src="/assets/svg/id-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('cnpj')?.invalid && cadastroForm.get('cnpj')?.touched">
      Preencha o CNPJ.
    </p>

    <app-primary-input
      formControlName="nomeInstituicao"
      inputName="nomeInstituicao"
      type="text"
      label="Nome da Instituição"
    >
      <img src="/assets/svg/nome-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('nomeInstituicao')?.invalid && cadastroForm.get('nomeInstituicao')?.touched">
      Preencha o nome da instituição.
    </p>

    <div class="input-wrapper">
      <label>Categoria</label>
      <div class="select-wrapper">
        <select formControlName="categoria">
          <option [ngValue]="null" disabled hidden>Selecione uma categoria</option>
          <option *ngFor="let categoria of categorias" [value]="categoria">
            {{ categoria | lowercase | titlecase }}
          </option>
        </select>
        <div class="right-group">
          <img class="arrow-icon" src="/assets/svg/arrow-down-icon.svg" alt="Seta para baixo" />
          <img class="right-icon" src="/assets/svg/categoria-icon.svg" alt="Ícone categoria" />
        </div>
      </div>
    </div>
    <p class="error" *ngIf="cadastroForm.get('categoria')?.invalid && cadastroForm.get('categoria')?.touched">
      Selecione uma categoria.
    </p>

    <app-primary-input
      formControlName="endereco"
      inputName="endereco"
      type="text"
      label="Endereço"
    >
      <img src="/assets/svg/adress-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('endereco')?.invalid && cadastroForm.get('endereco')?.touched">
      Preencha o endereço.
    </p>

    <app-primary-input
      formControlName="telefone"
      inputName="telefone"
      type="text"
      label="Telefone"
    >
      <img src="/assets/svg/cell-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('telefone')?.invalid && cadastroForm.get('telefone')?.touched">
      Preencha o telefone.
    </p>

    <app-primary-input
      formControlName="senha"
      inputName="senha"
      type="password"
      label="Senha"
    >
      <img src="/assets/svg/senha-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched">
      A senha deve ter no mínimo 6 caracteres.
    </p>

    <app-primary-input
      formControlName="confirmaSenha"
      inputName="confirmaSenha"
      type="password"
      label="Confirme sua senha"
    >
      <img src="/assets/svg/senha-icon.svg" />
    </app-primary-input>
    <p class="error" *ngIf="cadastroForm.get('confirmaSenha')?.invalid && cadastroForm.get('confirmaSenha')?.touched">
      Confirme a senha.
    </p>

    <button type="submit" class="btn-primary" [disabled]="disableBtn">
      {{ primaryText }}
    </button>
  </form>
</app-default-login-layout>
