<div class="pagina-alterar-senha">
<div class="user-container">
  <app-sidebar></app-sidebar>

  <div class="form-box">
    <h2>Alterar Senha</h2>

    <form [formGroup]="form" (ngSubmit)="alterarSenha()">
      <div class="input-wrapper">
        <label for="senhaAtual">Senha Atual</label>
        <input
          placeholder="Digite sua senha atual"
          id="senhaAtual"
          type="password"
          formControlName="senhaAtual"
        />
      </div>

      <div class="input-wrapper">
        <label for="novaSenha">Nova Senha</label>
        <input
          placeholder="Digite sua nova senha"
          id="novaSenha"
          type="password"
          formControlName="novaSenha"
        />
      </div>

      <div class="input-wrapper">
        <label for="confirmaNovaSenha">Confirmar Nova Senha</label>
        <input
          placeholder="Digite sua nova senha novamente"
          id="confirmaNovaSenha"
          type="password"
          formControlName="confirmaNovaSenha"
        />
      </div>

      <div
        *ngIf="form.get('confirmaNovaSenha')?.errors?.['senhasDiferentes'] && form.get('confirmaNovaSenha')?.touched"
        class="error-message"
      >
        As senhas não coincidem.
      </div>

      <div class="btn-group">
        <button type="submit" class="btn salvar" [disabled]="!form.valid">
          Salvar Nova Senha
        </button>
        <button type="button" class="btn cancelar" (click)="voltarParaUser()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
</div>

