<app-header></app-header>

<main class="conteudo">
  <section class="top-banner">
    <img src="assets/svg/maosHome.png" alt="Mãos" class="banner-img" />
    <div class="banner-texto">
      <h2><span class="barra"></span>Doe com o coração</h2>
      <p>
        Você não precisa de muito para fazer a diferença.
        Com um único gesto, é possível transformar vidas, reacender esperanças e inspirar mudanças.
        No Doe Certo, criamos pontes entre mãos que ajudam e corações que aguardam.
        O futuro que desejamos começa com a sua decisão de agir hoje.
      </p>
    </div>
  </section>

  <section class="cards-section">
    <h2 class="cards-title">Conheça Instituições em Destaque</h2>
    <div
      class="carousel"
      #carouselContainer
      (mouseenter)="pausarAutoplay()"
      (mouseleave)="iniciarAutoplay()"
    >
      <div
        class="carousel-card"
        *ngFor="let inst of instituicoesDestaque"
        (click)="irParaInstituicao(inst.idInstituicao)"
      >
        <img
          [src]="inst.imagemPerfil ? 'data:image/jpeg;base64,' + inst.imagemPerfil : 'assets/svg/perfil-padrao.svg'"
          alt="Imagem da instituição"
        />
        <span>{{ inst.nomeInstituicao }}</span>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
