<div class="sidebar-wrapper">
  <div class="hover-zone"></div>

  <nav class="sidebar">
    <div class="perfil">
      <img
        [src]="imagemBase64 ? 'data:image/jpeg;base64,' + imagemBase64 : 'assets/svg/perfil-padrao.svg'"
        alt="Foto da instituição"
      />
      <h2>{{ nomeInstituicao }}</h2>
    </div>

    <ul>
      <li><a (click)="editarConta()"><img src="assets/png/editar-icon.png" alt="Editar" /> Gerenciar dados</a></li>
      <li><a (click)="editarItens()"><img src="assets/png/editar-lista-icon.png" alt="Lista" /> Gerenciar sua lista</a></li>
      <li><a (click)="editarCampanha()"><img src="assets/png/campanha-icon.png" alt="Campanha" /> Gerenciar suas campanhas</a></li>
<!--<li><a (click)="verPaginaPublica()"><img src="assets/png/sua-pagina-icon.png" alt="Página" /> Ir para a sua página</a></li>-->
<!--<li><a (click)="verPaginaCampanha()"><img src="assets/png/sua-campanha-icon.png" alt="Página" /> Ir para a sua página de Campanha</a></li>-->
      <li><a (click)="voltar()"><img src="assets/png/voltar-icon.png" alt="Voltar" /> Voltar</a></li>
      <li><a (click)="voltarParaHome()"><img src="assets/png/home-icon.png" alt="Home" /> Voltar para tela inicial</a></li>
      <li class="logout"><a (click)="sair()"><img src="assets/png/sair-do-usuario.png" alt="Sair" /> Sair</a></li>
    </ul>
  </nav>
</div>
